/* making content responsive*/
* {
    box-sizing: border-box;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}
[class*="col-"] {
    float: left;
    padding: 15px;
    
}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

/* general */

body {
    background-color: white;
    height:100%;
    width:100%
}
p, article {
    color: #47525E;
    text-align: center;
    font-family: 'Lato', sans-serif;
}
h1,h3 {
    color:#F95F62;
    text-align: center;
    font-family: 'Lato', sans-serif;
    
}
a {
    font-family: 'Lato', sans-serif;
    color: #47525E;
    font-size: 28px;
    
}
.my-header{
    margin-left: 50vw;
}
.my-header a {
    font-family: 'Lato', sans-serif;
    color:;
    font-size: 22px;
    margin:20px;
}
.my-header {
  background:transparent !important;
  background-image:none;
  border-color:transparent !important;
  box-shadow:none;
}
.collapse {
    color: red!important;
}
container li.active {
    background-color: #4CAF50; /*  blm kelar */
    color: white;
}
.default-font {
    color: #47525E;
    font-size: 36px;
    text-align: center
}

.default-font-color {
    color: #F95F62;
}

.joedoel {
    color: darkorange;
    font-size: 35px;
}

.list-inline {
    margin:5px;
    padding: 0px;
    text-align: right;
    font-family: 'Lato', sans-serif;
}
/*  home */

.home {
    margin: 5%; /*  blm kelar */
}
/*  about me */

.title-kepanitiaan {
    color: #47525E ;
    font-size: 40px;
}
.detil-kepanitiaan {
    color: #47525E;
    font-size: 30px;
}
#left-mid{
    margin-left: 30%
}
#right-mid{
    margin-right: 
}
#educ{
    margin-top: 100px;
}

.gambar-quotes {
    object-fit:cover;
    width:300px;
    height: 337px;
}
/*skills*/

.d-table{
    display:table;
    table-layout:fixed;
    height:100%;
    width:100%;
    margin-top: 300px
    
}
    .d-row{
       display : table-row;

    }
    .d-cell{
       display : table-cell;
    }
    .first{
       width : 50%;
    }
    .second{
       width : 50%;
    }
    
#jc{
    margin-left: 500px
}
#pa{
    margin-right: 500px
}

/* personal infos */
.info {
    
    color: #47525E;
    font-size: 30px;
}


/*Guest book*/


button,input {
    width: 10%;
    padding: 12px 20px;
    margin: 10px 0;
    box-sizing: border-box;
    border: none;
}


#isi {
    border-radius: 20px;
    border: 1px solid orange;
    padding: 3%; 
    margin:1%;
    margin-left:15%;
    margin-right: 15%; 
    background-color: #FFC19A
}
.w3-card-4, .daftar{
    margin-left:15%;
    margin-right: 15%;
    padding-left: 3%;
    padding-right: 3%
}