{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
     <link href='http://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="{%static 'main.css'%}">
    <title>Anwar Farihin</title>
</head>
    
<body>
    <div class="my-header">
        <ul class="nav justify-content-end">
          <li class="nav-item">
            <a class="nav-item nav-link active" href="/index/">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-item nav-link" href="/aboutme/">About Me</a>
          </li>
          <li class="nav-item">
            <a class="nav-item nav-link" href="/skills/">Skills</a>
          </li>
          <li class="nav-item">
            <a class="nav-item nav-link" href="/personalinfos/">Personal Information </a>
          </li>
            <li class="nav-item">
            <a class="nav-item nav-link" href="/guestbook/">Guest Book </a>
          </li>
            <li class="nav-item">
            <a class="nav-item nav-link" href="/schedule/">Schedule </a>
          </li>
        </ul>
    </div>

    
    <div class="media" style="padding: 5%;padding-left: 24%;padding-right: 24%">
      <img class="align-self-start mr-3" src="https://image.ibb.co/hSHS1p/ava.jpg" alt="Generic placeholder image" style="width:118px;height:118px;margin-left:auto;margin-right: auto;display:block;">
      <div class="media-body">
    
        <p style="color: #47525E;font-size: 30px;">"Seorang mahasiswa yang tertarik terhadap tantangan, mempunyai keinginan yang kuat, ambivert, dan suka mempelajari hal-hal baru"</p>
        
      </div>
    </div>
    
    <div clas= "kepanitiaan">
        
        <p class = "joedoel">Organization and Committees</p>
        <div class="row">
          <div class="col-6">
              <p class = "title-kepanitiaan" id="left-mid">COMPFEST X</p>
              <p class = "detil-kepanitiaan" id="left-mid">Staff Software Engineering Academy</p>
            </div>

          <div class="col-6">
              <p class = "title-kepanitiaan" id="right-mid">The 25th CGT</p>
                <p class = "detil-kepanitiaan" id="right-mid">Staff Games and Competition</p>
            </div>
        </div>
        
        <p class = "title-kepanitiaan">FUKI 2018</p>
        <p class = "detil-kepanitiaan">Staff Quran</p>
    </div>
    
    
    <div class = "detil-kepanitiaan" id="educ" style="text-align:center">           
        <p class = "joedoel">Education</p>
        <ul>
            <li><b>2017–Selesai</b> S1 	Universitas Indonesia, Program studi Ilmu Komputer</li>
            <li><b>2015-2017</b> MA Husnul Khotimah Kuningan</li>
            <li><b>2014-2015</b> SMAN 38 Jakarta </li>
            <li><b>2011-2014</b> SMPIT Darul Qur’an Mulia</li>
        </ul>
    </div>

    
    
    
</body>
</html>
