{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href='http://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="{%static 'main.css'%}">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <script src="http://draft-online.herokuapp.com/js/jquery.min.js"></script>
    <title>Anwar Farihin</title>
</head>
<body>
    <div class="my-header">
        <ul class="nav justify-content-end">
          <li class="nav-item">
            <a class="nav-item nav-link active" href="/index/">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-item nav-link" href="/aboutme/">About Me</a>
          </li>
          <li class="nav-item">
            <a class="nav-item nav-link" href="/skills/">Skills</a>
          </li>
          <li class="nav-item">
            <a class="nav-item nav-link" href="/personalinfos/">Personal Information </a>
          </li>
            <li class="nav-item">
            <a class="nav-item nav-link" href="/guestbook/">Guest Book </a>
          </li>
            <li class="nav-item">
            <a class="nav-item nav-link" href="/schedule/">Schedule </a>
          </li>
        </ul>
    </div>
    <div class="form_sched" style="padding-left:5%;padding-right:5%;">
        <h1>Add Schedule</h1>

        {% block content %}
        <form method="POST" class="post-form">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="save btn btn-default">Submit</button>
        </form>
    {% endblock %}
    </div>

</body>
</html>
