{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href='http://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="{%static 'main.css'%}">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <script src="http://draft-online.herokuapp.com/js/jquery.min.js"></script>
    <title>Anwar Farihin</title>
</head>
    
<body>
    <style>
        p {
            font-family:courier;
            text-align: left
        }
        
    </style>
     <div class="my-header">
        <ul class="nav justify-content-end">
          <li class="nav-item">
            <a class="nav-item nav-link active" href="/index/">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-item nav-link" href="/aboutme/">About Me</a>
          </li>
          <li class="nav-item">
            <a class="nav-item nav-link" href="/skills/">Skills</a>
          </li>
          <li class="nav-item">
            <a class="nav-item nav-link" href="/personalinfos/">Personal Information </a>
          </li>
            <li class="nav-item">
            <a class="nav-item nav-link" href="/guestbook/">Guest Book </a>
          </li>
            <li class="nav-item">
            <a class="nav-item nav-link" href="/schedule/">Schedule </a>
          </li>
        </ul>
    </div>
    
    <script>
        function tambah(){
            $("#daftar").prepend(`<div id="isi">
        <p>Name:${$("#nama").val()}</p>
        <p>Date:${$("#tanggal").val()}</p>
        <p>E-mail:${$("#email").val()}</p>
        <p>Subject:${$("#subjek").val()}</p>
        <p>Message:${$("#pesan").val()}</p>
        </div>`);
        }
    </script>
    <div class="w3-card-4">
       
        <h1 id= "judul" class="default-font" style="font-size: 4em">Guest Book</h1>
        <p style="font-size: 25px;color:#F95F62">Feel free to introduce or criticize me in this page :))</p>    
        <p>      
        <label class="w3-text-gray">Name:</label>
        <input class="w3-input w3-border w3-sand" id="nama" type="text"></p>
        <p>
        <label class="w3-text-gray">Date:</label>
        <input class="w3-input w3-border w3-sand" id="tanggal" type="date"></p>

        <p><label class="w3-text-gray">E-mail:</label>
        <input class="w3-input w3-border w3-sand" id="email" type="text"></p>

        <p><label class="w3-text-gray">Subject:</label>
        <input class="w3-input w3-border w3-sand" id="subjek" type="text"></p>

        <p><label class="w3-text-gray">Message:</label>
        <input class="w3-input w3-border w3-sand" id="pesan" type="text" style="height:200px;"></p>

        <p><button class="w3-btn w3-red" onclick="tambah()">Submit</button></p>
    </div>
    
    <div id="daftar">
		
    </div>
    
</body>
</html>
