{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href='http://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="{%static 'main.css'%}">
    <title>Anwar Farihin</title>
</head>
    
<body>
    
     <div class="my-header">
        <ul class="nav justify-content-end">
          <li class="nav-item">
            <a class="nav-item nav-link active" href="/index/">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-item nav-link" href="/aboutme/">About Me</a>
          </li>
          <li class="nav-item">
            <a class="nav-item nav-link" href="/skills/">Skills</a>
          </li>
          <li class="nav-item">
            <a class="nav-item nav-link" href="/personalinfos/">Personal Information </a>
          </li>
            <li class="nav-item">
            <a class="nav-item nav-link" href="/guestbook/">Guest Book </a>
          </li>
            <li class="nav-item">
            <a class="nav-item nav-link" href="/schedule/">Schedule </a>
          </li>
        </ul>
    </div>
    
<div class="container">
  <div class="row">
    <div class="col">
     <div class= "gambar-info"> 
            <img src="https://image.ibb.co/mpS5nU/chillin.jpg" style="object-fit:cover;width:500px;height:750px;margin-left: auto;margin-right: auto;display: block;">
        </div>
    </div>
    <div class="col">
      <div class="info">
            <ul>
                     <li>Born Date:	Jakarta, 10 Februari 2000</li>
                     <li>Phone Number:	087881809071</li>
                     <li>Line ID: farihinmuhdiar</li>
                     <li>E-mail: farihmuhdiar@gmail.com </li>
                     <li>Hobbies: Watching Netflix, Cycling, Swimming, Jogging, Reading Articles, Exploring new interests</li>   
            </ul>
        </div>
    </div>
  </div>
</div>
    
   
    
    
</body>
</html>
