{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href='http://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="{%static 'main.css'%}">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <script src="http://draft-online.herokuapp.com/js/jquery.min.js"></script>
    <title>Anwar Farihin</title>
</head>
    
<body>
    <style>
        p {
            font-family:courier;
            text-align: center;
        }

    </style>
    <div class="my-header">
        <ul class="nav justify-content-end">
          <li class="nav-item">
            <a class="nav-item nav-link active" href="/index/">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-item nav-link" href="/aboutme/">About Me</a>
          </li>
          <li class="nav-item">
            <a class="nav-item nav-link" href="/skills/">Skills</a>
          </li>
          <li class="nav-item">
            <a class="nav-item nav-link" href="/personalinfos/">Personal Information </a>
          </li>
            <li class="nav-item">
            <a class="nav-item nav-link" href="/guestbook/">Guest Book </a>
          </li>
            <li class="nav-item">
            <a class="nav-item nav-link" href="/schedule/">Schedule </a>
          </li>
        </ul>
    </div>
    
    {% block content %}
    <h1 class="display-4">My Schedule</h1>
    <div class="article">
        <a href="{% url 'add_schedule' %}"><button type="button" class="btn btn-default btn-sm">
          <span class="glyphicon glyphicon-pencil"></span> Add Schedule
        </button></a>
        <a href="{% url 'resetAll' %}">
            <button type="button" class="btn btn-default btn-sm">
              <span class="glyphicon glyphicon-trash"></span> Reset Data
            </button>
        </a>

        <div class="article">
            <div class="row">
                {% for schedule in schedules %}
                    <div class="col-sm-4 text-center">
                        <h2 class="act">{{ schedule.activity }}</h2>
                        <h3 class="desc">{{ schedule.description }}</h3>
                        <p>{{ schedule.date.date }}<br>
                            {{ schedule.time}}<br>
                            {{ schedule.place }}<br>
                            {{ schedule.category }}</p>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    {% endblock %}

    

</body>
</html>
